.DS_Store
*.xcodeproj*
~$*.*
*.idea
.idea
nbproject/
nbproject*/
*nbproject/
build/
dist/
Makefile
.dep.inc
*.exe
/Grafiikka_animointi/Grafiikka/T1/build/
/Grafiikka_animointi/Grafiikka/T1/dist/
*.db
*.o
/KJ/Harjoitukset/build/
/KJ/Harjoitukset/dist/
*.bin
/nbproject/
